<h1><%= @supplier.name %></h1>

<div class="row">
  <div class="span8">
    <p class="lead"><%= @supplier.description %></p>
    <p> Contact us: <%= @supplier.email %></p>
    <% @products.each do |product| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= product.name %>: <%= product.price %></p>
          </h4>
        </div>
      </div>
    <% end %>
</div>
